{% extends 'core/base.html' %}

{% block title %}Mot de passe réinitialisé{% endblock %}

{% block content %}
<div class="container is-max-desktop my-6">
    <div class="box has-text-centered">
        <h1 class="title is-4 has-text-centered">Mot de passe réinitialisé avec succès</h1>
        <hr>
        <p>
            Votre mot de passe a été modifié avec succès. Vous pouvez maintenant vous connecter.
        </p>
        <a href="{% url 'login' %}" class="button is-primary mt-5">Se connecter</a>
    </div>
</div>
{% endblock %}