{% extends 'core/base.html' %}

{% block title %}E-mail de réinitialisation envoyé{% endblock %}

{% block content %}
<div class="container is-max-desktop my-6">
    <div class="box has-text-centered">
        <h1 class="title is-4 has-text-centered">E-mail de réinitialisation envoyé</h1>
        <hr>
        <p>
            Nous vous avons envoyé des instructions par e-mail pour réinitialiser votre mot de passe. Vous devriez les recevoir sous peu.
        </p>
        <p class="mt-4">
            Si vous ne recevez pas d'e-mail, veuillez vérifier votre dossier de courriers indésirables ("spam") et assurez-vous d'avoir entré l'adresse e-mail associée à votre compte.
        </p>
        <a href="{% url 'login' %}" class="button is-link mt-5">Retour à la connexion</a>
    </div>
</div>
{% endblock %}