{% extends 'core/base.html' %}
{% load crispy_forms_tags %}

{% block title %}Entrer le nouveau mot de passe{% endblock %}

{% block content %}
<div class="container is-max-desktop my-6">
    <div class="box">
        {% if validlink %}
        <h1 class="title is-4 has-text-centered">Entrer le nouveau mot de passe</h1>
        <hr>
        <form method="post" class="box">
            {% csrf_token %}
            {{ form|crispy }}
            <button type="submit" class="button is-primary is-fullwidth mt-4">
                Changer mon mot de passe
            </button>
        </form>
        {% else %}
        <h1 class="title is-4 has-text-centered">Le lien de réinitialisation est invalide</h1>
        <hr>
        <p class="has-text-centered">
            Le lien de réinitialisation de mot de passe est invalide, peut-être parce qu'il a déjà été utilisé.
            Veuillez <a href="{% url 'password_reset' %}">demander un nouveau lien</a>.
        </p>
        {% endif %}
    </div>
</div>
{% endblock %}